.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #b7b7ec;
  --primary-color: #049604;
  --secondary-color: #07fa07;
  --inverted-primary-color: #0233c2;
  --inverted-secondary-color: #0449e0;
}
